@media (prefers-color-scheme: dark) {
  #footer .footer-top,
  #footer .container,
  #faq,
  body,
  .row,
  #footer,
  #contact.contact,
  #pricing.pricing,
  #doctors.doctors,
  #featured-services.featured-services,
  #about.about,
  #features.features,
  #services.services,
  #appointment.appointment,
  #departments.departments,
  #testimonials.testimonials,
  .faq .faq-list .collapsed {
    background: #3f3f3f;
  }
  .navbar a,
  .navbar a:focus,
  body,
  footer,
  #faq,
  .footer-link-text,
  #footer,
  .darkBG {
    color: #e9e9e9;
  }
  #contact .info-box h3 {
    color: #e9e9e9;
  }
  #contact .info-box p {
    color: #c5c5c5;
  }
  .info-box {
    box-shadow: 0 0 20px rgb(93 93 93 / 50%);
    background: #434343;
    border-radius: 75px;
  }
  #footer .footer-top .footer-links ul a, .faq .faq-list .collapsed, body {
    color: #d6d6d6;
  }
  p.description, h3 {
    color: #505050;
  }
}

#header {
  background: #292929;
}

#contact .col-lg-6 {
  width: 100%;
}
